<footer>
    <div class="row me-0 gy-4 mt-0">
      <div class="col-md-4 text-center">
        <h3 class=" text-uppercase fs-3">location
        </h3>
        <p>2215 John Daniel Drive
        </p>
        <p>Clark, MO 65243
        </p>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-uppercase">around the web</h3>
        <ul class="d-flex justify-content-center social">
        <li class=" rounded-circle"><i class="fa-brands fa-facebook"></i>
        </li>
        <li class="rounded-circle" ><i class="fa-brands fa-twitter"></i></li>
        <li class=" rounded-circle" ><i class="fa-brands fa-linkedin"></i>
        </li>
        <li class=" rounded-circle" ><i class="fa-solid fa-globe"></i></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-uppercase">about freelance</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
    <div class="end text-center py-4">
      <p class="text-white mb-0">Copyright © Your Website 2021</p>
    </div>
</footer>