

.portfolio .photo {
  position: relative;

}
.portfolio .photo .overlay{
  
  background-color: #1abc9ce6;
  cursor: pointer;
  transition: .5s;
  opacity: 0;
}
.portfolio .photo:hover .overlay{
  opacity: 1;
}
 #show {
  background-color: rgba(13, 110, 253, 0.25) ;
  z-index: 99999;
}