<section class="portfolio py-4">
  
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase mb-3 fs-1">about component</h2>
      <div>
        <span class="d-inline-block me-3"></span>
        <i class="fa-solid fa-star"></i>
        <span class="d-inline-block ms-3"></span>
      </div>
    </div>
    <div class="row pt-2 g-5">
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div>
          <img src="./assets/images/poert1.png" alt="port1" class="w-100">
        </div>
      </div>
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center" >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div>
          <img src="./assets/images/port2.png" alt="port1" class="w-100">
        </div>
      </div>
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div>
          <img src="./assets/images/port3.png" alt="port1" class="w-100">
        </div>
      </div>
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div> <img src="./assets/images/poert1.png" alt="port1" class="w-100">
        </div>
      </div>
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div> <img src="./assets/images/port2.png" alt="port1" class="w-100">
        </div>
      </div>
      <div class="col-md-4">
        <div class=" rounded-3 overflow-hidden photo" (click)="showPhoto($event)">
          <div class="overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </div> 
          <img src="./assets/images/port3.png" alt="port1" class="w-100">
        </div>
      </div>
    </div>

  </div>
<div class="position-fixed w-100 h-100 top-0  align-items-center justify-content-center" [ngStyle]="{'display': photoSrc ? 'flex' : 'none'}" (click)="hidePhoto()" id="show">
  <img [src]="photoSrc" alt="photo" width="600" (click)="$event.stopPropagation()">
</div>
</section>
